<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
  <xacro:arg name="arm_id" default="panda" />
  
  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>

  <xacro:include filename="$(find cfc_collision_ros)/resources/robots/urdf/panda_arm_macro.xacro"/>
  
  <!-- box shaped table as base for Panda -->
  <link name="base">
    <visual>
      <origin xyz="0.6 0 -0.05" rpy="0 0 0"/>
      <material name="white"/>
      <geometry>
        <box size="2 1 0.05" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.6 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="2 1 0.05" />
      </geometry>
    </collision>
  </link>

  <!-- arm without gripper -->
  <xacro:panda_arm arm_id="$(arg arm_id)" connected_to="base"  xyz="0 0 0" safety_distance="0.03"/>

</robot>
