<?xml version="1.0"?>
<launch>
  <!-- Arguments -->
  <arg name="robot_name" default="panda_arm" />
  <arg name="ee_pose_file" default="$(find cfc_collision_ros)/resources/problems/end_points_ee_panda_arm.csv"/>
  <arg name="joint_config_file" default="$(find cfc_collision_ros)/data/end_points_panda_arm.csv"/>

  <!-- Parameters -->
  <param name="robot_name" value="$(arg robot_name)" type="str" />
  <param name="ee_pose_file" value="$(arg ee_pose_file)" type="str" />
  <param name="joint_config_file" value="$(arg joint_config_file)" type="str" />

  <!-- Nodes -->
  <include file="$(find panda_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
    <arg name="load_gripper" value="false"/>
  </include>
  
  <node name="test_ik_solver" pkg="cfc_collision_ros" type="test_ik_solver" respawn="false" output="screen">
    <rosparam command="load" file="$(find panda_moveit_config)/config/kinematics.yaml"/>
  </node>

</launch>
