<?xml version="1.0"?>
<launch>
  <!-- Arguments -->
  <arg name="ee_pose_file" value="$(find perception_sq)/config/end_points_ee.csv"/>
  <arg name="joint_config_file" value="$(find perception_sq)/config/end_points.csv"/>

  <!-- Include moveit_ik_solver launch file -->
  <include file="$(find cfc_collision_ros)/launch/moveit_ik_solver.launch">
    <arg name="ee_pose_file" value="$(arg ee_pose_file)"/>
    <arg name="joint_config_file" value="$(arg joint_config_file)"/>
  </include>

</launch>
